/* 
.full-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    min-height: 100vh;
} */

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instructions-container {
    margin: 15px;
}

.new-session{
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.new-session-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: var(--font-general-sans-medium);
}

.new-session-body-header {

}

.new-session-body-qr-code {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.or-container {
    width: 20%;
    text-align: center;
}
.or-container h3 {
    font-size: 24px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    /* border-radius: 10px; */
    border: 1px solid #D4CFCF;
    text-align: center;
    color: #000000;
    width: 35%;
    /* width: fit-content; */
}

.link-container a {
    /* text-decoration: none; */
    color: #000000;
    padding: 10px;
    width: fit-content;
    overflow-wrap: anywhere;
}

.link-container a:hover {
    background-color: #aeaeae;;
    /* color: #FFFFFF; */
}

.copy-link-button {
    width: 100%;
    /* background-color: #D4CFCF; */
    /* border: 1px solid #D4CFCF; */
    border-top: 1px solid #D4CFCF;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 16px;
    /* margin: 10px; */
}
.copy-link-button:hover {
    background-color: #aeaeae;
}

.new-session-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.new-session-body-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #cdcdcd;
    width: fit-content;
    align-self: center;
    justify-self: center;
    /* margin: auto; */
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    max-width: 1000px;
}

.dark-button {
    background-color: #292929;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: GeneralSans-Regular,sans-serif;
    margin: 5px 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .new-session-body {
        flex-direction: column;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    .new-session-body-qr-code {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* align-self: center; */
        /* justify-self: center; */
        /* text-align: center; */
    }
    .or-container {
        /* width: 100%; */
    }
    .link-container {
        /* width: 100%; */
        width: fit-content;
    }

  }